[defaults]
# Files in /tmp are not persistent, assuming it uses a memory-backed fs
remote_tmp                = /tmp
bin_ansible_callbacks     = True
callbacks_enabled         = junit, ansible.builtin.default, ansible.posix.profile_roles, ansible.posix.profile_tasks
interpreter_python        = auto_silent
display_args_to_stdout    = true
fast_caching              = memory
forks                     = 50
verbosity                 = 2

# collections_path is typically for playbook projects, not collection development
# Uncomment if needed for testing collection locally before installation
# collections_paths         = .collections

# ansible.builtin.default callback
# https://docs.ansible.com/projects/ansible/latest/collections/ansible/builtin/default_callback.html
check_mode_markers        = true
display_failed_stderr     = true
# display_ok_hosts          = false
# display_skipped_hosts     = false
callback_result_format    = yaml
show_task_path_on_failure = true

[ssh_connection]
scp_if_ssh   = True
control_path = %(directory)s/%%h-%%p-%%r
